

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to right, white, #d6a0b4);
}

main{
    max-width: auto;
    padding: 10px;

}

.first-page{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 30px;
    gap: 30px;
    border: 2px solid;
    border-image: linear-gradient(to right, white,  #d6a0b4) 1;
}

.logo-side{
    flex:1;
}

.logo-side  img{
    display: inline-block;
    width: 400px;
    height: 130px;
    margin-left: 60px;;

}

.logo-side p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-top: 5px;
    text-align: center;
}

.logo-side h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    margin-top: 0px;
    text-align: center;
}

.poster-side{
    flex:3;
}

.poster-side img{
    display: inline-block;
    width: 600px;
    height: 400px;
    margin-left: 150px;
    margin-top: 50px;
}

.buttons{
    display: flex;
    margin: 0px 150px;
    width: 200px;
    height: auto;
    gap: 30px;
}

.buttons button{
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}

.log{
    background-color: #d6a0b4;
}

.log:hover{
    background-color: #933b5b;
}