#movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 70px;
}

.movie-card {
    background: #1e1e1e;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.movie-card:hover {
    transform: translateY(-5px);
    border-color: #db2424;
}

.movie-poster img {
    width: 100%;
    object-fit: cover;
    background: #0f0f0f;
    display: block;
}

.movie-poster {
    aspect-ratio: 2 / 3;
}

.movie-info {
    margin-top: 10px;
    padding: 12px;
}

.movie-card-title {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 6px;
}

.movie-year-genre {
    font-size: 14px;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.movie-rating {
    display: flex;
    gap: 4px;
    margin-top: 8px;
}

.movie-rating span {
    font-size: 25px;
    color: #db2424;
}

#filter-movies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -40px 10px;
}

#search-movies {
    display: flex;
    width: 310px;
}

#searchInput {
    border-radius: 15px;
    padding: 2px 12px;
    width: 200px;
    color: #fbf8f8;
    background-color: transparent;
    border: none;
}

#searchBtn {
    margin-left: -9px;
    margin-top: -6px;
    padding-right: -10px;
    max-width: 100px;
    border: none;
    background-color: transparent;
    color: #e6e2e2;
}

#searchBtn img {
    height: 20px;
}


div #search-movies {
    max-width: 250px;
}
 
#custom-lists, #genreSelect{
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #bfbdbd;
    padding: 8px 30px 8px 15px;
    border-radius: 25px;
    font-size: 13px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='white'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
}